__pycache__
node_modules
subscription-service
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.env
.env.local
*.lock
uv.lock
*.log
chroma_db
uploads
*.json
*.sqlite3
.DS_Store
.vscode
.idea
*.txt
*.sql
*.md
README.md

