__pycache__
.venv
.venv/
venv
node_modules
subscription-service
data/
*.db
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.env
.env.local
*.lock
uv.lock
*.log
chroma_db
uploads
data
*.db
*.json
*.sqlite3
.DS_Store
.vscode
.idea
*.txt
*.sql
*.md
README.md
